* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #6b46c1, #000000, #9b4d96);
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #fff;
  }
  
  .App {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .header {
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .search-input {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    width: 300px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  }
  
  .search-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .loading {
    margin: 20px 0;
  }
  
  .results-list {
    list-style-type: none;
    padding: 0;
  }
  
  .result-item {
    margin: 10px 0;
  }
  
  .result-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
    margin-bottom: 10px; /* Adds space below each link */
  }
  
  .result-link:hover {
    border-bottom: 1px solid #fff;
  }

  a {
    color: #fff;  /* Set the link color to white */
    text-decoration: none;  /* Ensure no underline by default */
  }
  
  a:hover {
    color: #f0f0f0;  /* Optional: Lighten the color on hover */
    text-decoration: underline;  /* Optional: Underline links on hover for better visibility */
  }

  